<% content_for :title, "Editing router config" %>
<div class="mt-3 mb-3 is-flex is-justify-content-space-between">
  <h1>Editing router configuration</h1>
  <%= link_to "Back", router_configs_path, class: 'button is-link' %>
</div>
<%= render "form", router_config: @router_config %>
